<div class="col s3 card large hoverable">
  <h4><%= @product[:name] %></h4>
  <p>Base Price: <%= @product[:base_price] %></p>
  <p>Description: <%= @product[:description] %></p>
  <p class="quanity_display" data-quanity="<%= @product[:quanity_on_hand] %>">Quantity: <%= @product[:quanity_on_hand] %></p>
  <p>Color: <%= @product[:color] %></p>
  <p>Weight: <%= @product[:weight] %></p>
  <p class="product_buy btn" id="<%= @product[:id] %>">Buy</p>
  <p class='product_delete btn' id='<%= @product[:id] %>'>Delete</p>
  <p class='product_edit btn' id="<%= @product[:id] %>">Edit</p>

  <form class="edit_product hide">
    <label>Name</label>
    <input type="text" name="product[name]" class="edit_product_name" />
    <br />
    <label>Description</label>
    <input type="text" name="product[description]" class="edit_product_description" />
    <br />
    <label>Base Price</label>
    <input type="text" name="product[base_price]" class="edit_product_base_price" />
    <br />
    <label>Quantity on Hand</label>
    <input type="text" name="product[quanity_on_hand]" class="edit_product_quanity_on_hand" />
    <br />
    <label>Color</label>
    <input type="text" name="product[color]" class="edit_product_color" />
    <br />
    <label>Weight</label>
    <input type="text" name="product[weight]" class="edit_product_weight" />
    <br />
    <input type="submit" class="btn" />
  </form>
</div>
